@{
    ViewData["Title"] = "Home Page";
}


<!--Se crea un formulario de tipo Post, donde se pondrá un input que se llame como pusimos en el HttpPost y un botón tipo submit-->
<form method="post" >


    <input type="text" name="nombreInput"/>

    <button type="submit">Enviar datos</button>


</form>
